//META{"name":"DaKi-Hexi","description":"A material theme with hexagons in a few places","author":"Kiwi / Prodiginus","version":"0.0"}*//
@import 'https://raw.githubusercontent.com/Prodiginus/daki-hexi/master/source/daki-hexi.css';

/*
when you change the --main-color make sure to convert it 
into rgb and add the values in without the parenthesis

/*--------------------------- custom variables ---------------------------*/
:root {
    --main-color: #004b64;
    --main-color-rgb: 0, 75, 100;
    --bgImage: url('http://static.simpledesktops.com/uploads/desktops/2011/11/03/GoodnightCopenhagen.png');
    --status-online: #43b581;
    --status-idle: #faa61a ;
    --status-dnd: #f04747;
    --status-offline: #747f8d;
    --status-streaming: #593695;
    --status-playing: #d63ca3;
}